@charset "utf-8";

/** 全局样式 **/

.index_left_3 .FrontProducts_list01-d1_c1 {
    width: auto;
    margin: 0 auto;
    clear: both;
    height: auto;
    overflow: hidden;
    text-align: left;
    position: relative;
}

.index_left_3 .FrontProducts_list01-d1_c1 .clearBoth {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0;
    line-height: 0;
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .column-num3 {
    width: 33%;
}

.index_left_3 .FrontProducts_list01-d1_c1 ul {}

#FrontProducts_list01-004 ul {
    padding-left: 30px;
}

.index_left_3 .FrontProducts_list01-d1_c1 ul li {
    margin: 0;
    padding: 0;
}

.introduction {
    line-height: 20px;
}


/** 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 a {
    color: #292929;
    text-decoration: none;
    font-weight: normal;
}

.index_left_3 .FrontProducts_list01-d1_c1 a:hover {
    color: #fd9c15;
    text-decoration: underline;
}

.titlestyle_00 {
    display: none;
}


/*.index_left_3  .FrontProducts_list01-d1_c1 .button {
	width:52px;
	height:22px;
	line-height:22px;
	text-align:left;
	border:0;
	padding:0 0 0 6px;*/


/* firefox */


/*	padding:2px 0 0 9px \9; */


/* ie8 */


/* *padding:1px 0 0 9px;*/


/* ie6、ie7 */


/*	margin:0;
}
.index_left_3  .FrontProducts_list01-d1_c1 .button-on {
	background:url(../images/btn-gray1-05.gif) left top no-repeat;
	color:#c0c0c0;
}
.index_left_3  .FrontProducts_list01-d1_c1 .button-up {
	background:url(../images/btn-gray1-06.gif) left top no-repeat;
	color:#666464;
}*/


/** 重点文字 **/

.index_left_3 .FrontProducts_list01-d1_c1 .focustext {
    color: #f39800;
    font-style: normal;
}


/** 选择浏览方式、排序方式样式 **/

.index_left_3 .FrontProducts_list01-d1_c1 .type {
    float: left;
    width: 100%;
    margin: 0;
    /*height:0;*/
    /*常磊修改*/
    display: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.skim {
    float: left;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort {
    float: right;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort select {
    float: left;
    width: 50%;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icon-07.gif) 0 0 no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph1:hover {
    background: url(../images/icon-07.gif) 0 -12px no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph2 {
    background: url(../images/icon-08.gif) 0 0 no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph2:hover {
    background: url(../images/icon-08.gif) 0 -12px no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-09.gif) 0 0 no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph3:hover {
    background: url(../images/icon-09.gif) 0 -14px no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-10.gif) 0 0 no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.sort .ph4:hover {
    background: url(../images/icon-10.gif) 0 -14px no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.skim a {
    padding-right: 5px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

.index_left_3 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 3px;
}


/** 图片部分 **/

.index_left_3 .FrontProducts_list01-d1_c1 .content .pic-module {
    /*	width:230px;
	height:346px;*/
    margin: 0 auto;
    border-bottom: 0px;
}


/** 属性部分 **/

.index_left_3 .FrontProducts_list01-d1_c1 .content .pro-module {
    width: 123px;
    height: 35px;
    margin: 0 auto;
    border-top: 0px;
    padding: 0px 1px 1px;
    text-align: center;
    /*background:url(../images/pro-module.jpg) no-repeat;*/
    display: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .content .pro-module a {
    display: block;
    width: 123px;
    height: 35px;
    line-height: 35px;
    background: #201f1d;
    color: #FFF;
}

.index_left_3 .FrontProducts_list01-d1_c1 .content .pro-module a:hover {
    background: #ee6e6d;
    color: #FFF;
}

.introduction span {
    display: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .content .png-module {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 115px;
    height: 21px;
    bottom: 0px;
    _bottom: -1px;
    -moz-opacity: 0.30;
    Opacity: 0.3;
    filter: Alpha(Opacity=30);
    background: #000;
}


/** 商品详细部分 **/

.index_left_3 .FrontProducts_list01-d1_c1 .detail {
    clear: both;
}


/** 大图片样式 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module .pic {
    padding: 9px 0px 0px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module .pic a {}

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {}

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 100%;
    height: 331px;
}


/** 特殊标记 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module span.lab {
    position: absolute;
    top: 65px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pic-module .compare {
    padding-top: 10px;
}


/** 标题样式 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #0068cc;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module h1 span {
    color: #231815;
}


/** 属性样式 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul {
    padding: 0;
    list-style: none;
    height: 25px;
    line-height: 25px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li {}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}


/** 商品编码 重点文字 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.code span {
    display: none;
}


/** 品牌名称、商标 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.name strong {
    font-weight: normal;
}


/** 重量、浏览次数 重点文字 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.weight,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.skim {
    color: #f39800;
}


/** 市场价 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}


/** 会员价 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}


/** 积分、折扣、节省 重点文字 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.integral,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.discount,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}


/** 尺寸 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.size {
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.size a {
    background: url(../images/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}


/** 选择颜色 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.color label {
    padding-right: 10px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}


/** 评论 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}


/** 购买需填项、购买数量 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.number span {
    padding-left: 12px;
}


/** 缺货 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.outstock img {
    vertical-align: middle;
}


/** 按钮 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP {
    margin: 10px 0 0 0;
    clear: both;
    display: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP a {
    white-space: nowrap;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna span {}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy a,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price a {
    color: #fff;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor a,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq a {
    color: #727171;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy,
.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price {
    float: left;
    background: url(../images/btn-blue1-02.gif) left top no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../images/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq {
    background: url(../images/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}


/** 商品描述 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module .describe {
    margin: 5px 0 10px 0;
    color: #666464;
    line-height: 20px;
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module .describe span {
    font-weight: bold;
}


/** 营销类型、关键词、下载 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .other {
    margin: 10px 0 0 0;
}

.index_left_3 .FrontProducts_list01-d1_c1 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

.index_left_3 .FrontProducts_list01-d1_c1 .other p a {
    color: #0068b7;
    text-decoration: none;
}


/** 翻页 **/

.index_left_3 .FrontProducts_list01-d1_c1 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}


/** 商标弹出层 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-picbig img {
    width: 400px;
    height: 300px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand p.top {
    background: url(../images/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close {
    background: url(../images/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close:hover {
    background: url(../images/close-hover.gif) right top no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro {
    padding: 5px 0;
    background: url(../images/pop-bg.gif) left top repeat-y;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}


/** 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-brand p.bottom {
    background: url(../images/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}


/**关闭按钮**/

.index_left_3 .FrontProducts_list01-d1_c1 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../images/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pop-picbig a.close:hover {
    background: url(../images/ad-close-02.gif) left top no-repeat;
}

.index_left_3 .FrontProducts_list01-d1_c1 .mainul {}

.index_left_3 .FrontProducts_list01-d1_c1 .column-num4 {
    width: 24.5%;
}


/** 尺寸 链接 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.text {
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.text em {
    background: url(../images/size_bg.gif) left top repeat-x;
    height: 13px;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0;
    font-style: normal;
    color: #0099FF;
    cursor: pointer;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.text span {
    margin-right: 5px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module .specifications {
    background: #FFFFCC;
    padding-left: 10px;
}


/** 选择颜色 **/

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.property {
    vertical-align: middle;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.property label {
    padding-right: 10px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .pro-module ul li.property img {
    width: 12px;
    height: 12px;
    padding: 4px;
    cursor: pointer;
}

#FrontProducts_list01-005 {
    width: 98%;
    margin: 0 auto;
    clear: both;
    height: 100%;
    overflow: hidden;
    text-align: left;
    padding: 5px;
}

#FrontProducts_list01-005 .column-num3 {
    width: 33%;
}

#FrontProducts_list01-005 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px;
}

#FrontProducts_list01-005 ul li {
    margin: 0;
    padding: 0;
}

#FrontProducts_list01-005 ul {
    width: 100%;
}


/** 链接 **/

#FrontProducts_list01-005 a {
    color: #007dcc;
    text-decoration: none;
}

#FrontProducts_list01-005 a:hover {
    color: #ff6674;
    text-decoration: underline;
}

#FrontProducts_list01-005 .button {
    width: 52px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    border: 0;
    padding: 0 0 0 6px;
    /* firefox */
    padding: 2px 0 0 9px \9;
    /* ie8 */
    *padding: 1px 0 0 9px;
    /* ie6、ie7 */
    margin: 0;
}

#FrontProducts_list01-005 .button-on {
    background: url(../images/btn-gray1-05.gif) left top no-repeat;
    color: #c0c0c0;
}

#FrontProducts_list01-005 .button-up {
    background: url(../images/btn-gray1-06.gif) left top no-repeat;
    color: #666464;
}


/** 重点文字 **/

#FrontProducts_list01-005 .focustext {
    color: #f39800;
    font-style: normal;
}


/** 选择浏览方式、排序方式样式 **/

#FrontProducts_list01-005 .type {
    float: left;
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
}

#FrontProducts_list01-005 .type span.skim {
    float: left;
}

#FrontProducts_list01-005 .type span.sort {
    float: right;
}

#FrontProducts_list01-005 .type span.sort select {
    float: left;
}

#FrontProducts_list01-005 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icon-07.gif) 0 0 no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph1:hover {
    background: url(../images/icon-07.gif) 0 -12px no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph2 {
    background: url(../images/icon-08.gif) 0 0 no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph2:hover {
    background: url(../images/icon-08.gif) 0 -12px no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-09.gif) 0 0 no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph3:hover {
    background: url(../images/icon-09.gif) 0 -14px no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-10.gif) 0 0 no-repeat;
}

#FrontProducts_list01-005 .type span.sort .ph4:hover {
    background: url(../images/icon-10.gif) 0 -14px no-repeat;
}

#FrontProducts_list01-005 .type span.skim a {
    padding-right: 5px;
}

#FrontProducts_list01-005 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

#FrontProducts_list01-005 .content {
    float: left;
    overflow: hidden;
    /*margin-bottom:10px;*/
    margin: 0px;
    padding: 0px;
}


/** 图片部分 **/

#FrontProducts_list01-005 .content .pic-module {
    float: left;
    position: relative;
}


/** 属性部分 **/

#FrontProducts_list01-005 .content .pro-module {
    float: left;
    width: 50%;
    margin-left: 6px;
    text-align: left;
    margin-top: -15px;
}


/** 商品详细部分 **/

#FrontProducts_list01-005 .detail {
    clear: both;
}


/** 大图片样式 **/

#FrontProducts_list01-005 .pic-module {
    float: left;
}

#FrontProducts_list01-005 .pic-module .pic {}

#FrontProducts_list01-005 .pic-module .pic a {
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 3px;
    width: auto;
    height: auto;
}

#FrontProducts_list01-005 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-005 .pic-module .pic a img {
    width: 90px;
    height: 60px;
    border: 0;
}


/** 特殊标记 **/

#FrontProducts_list01-005 .pic-module span.lab {
    position: absolute;
    top: 35px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

#FrontProducts_list01-005 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

#FrontProducts_list01-005 .pic-module .compare {
    padding-top: 10px;
}


/** 标题样式 **/

#FrontProducts_list01-005 .pro-module {
    float: left;
}

#FrontProducts_list01-005 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #0068cc;
}

#FrontProducts_list01-005 .pro-module h1 span {
    color: #231815;
}


/** 属性样式 **/

#FrontProducts_list01-005 .pro-module ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-005 .pro-module ul li {
    line-height: 23px;
    color: #231815;
}

#FrontProducts_list01-005 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}


/** 商品编码 重点文字 **/

#FrontProducts_list01-005 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

#FrontProducts_list01-005 .pro-module ul li.code span {
    display: none;
}


/** 品牌名称、商标 链接 **/

#FrontProducts_list01-005 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

#FrontProducts_list01-005 .pro-module ul li.name strong {
    font-weight: normal;
}


/** 重量、浏览次数 重点文字 **/

#FrontProducts_list01-005 .pro-module ul li.weight,
#FrontProducts_list01-005 .pro-module ul li.skim {
    color: #f39800;
}


/** 市场价 **/

#FrontProducts_list01-005 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}


/** 会员价 **/

#FrontProducts_list01-005 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}


/** 积分、折扣、节省 重点文字 **/

#FrontProducts_list01-005 .pro-module ul li.integral,
#FrontProducts_list01-005 .pro-module ul li.discount,
#FrontProducts_list01-005 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}


/** 尺寸 链接 **/

#FrontProducts_list01-005 .pro-module ul li.size {
    clear: both;
}

#FrontProducts_list01-005 .pro-module ul li.size a {
    background: url(../images/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}


/** 选择颜色 **/

#FrontProducts_list01-005 .pro-module ul li.color label {
    padding-right: 10px;
}

#FrontProducts_list01-005 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}


/** 评论 链接 **/

#FrontProducts_list01-005 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

#FrontProducts_list01-005 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

#FrontProducts_list01-005 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}


/** 购买需填项、购买数量 **/

#FrontProducts_list01-005 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

#FrontProducts_list01-005 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

#FrontProducts_list01-005 .pro-module ul li.number span {
    padding-left: 12px;
}


/** 缺货 **/

#FrontProducts_list01-005 .pro-module ul li.outstock img {
    vertical-align: middle;
}


/** 按钮 **/

#FrontProducts_list01-005 .pro-module p.buttonP {
    margin: 10px 0 0 0;
    clear: both;
}

#FrontProducts_list01-005 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

#FrontProducts_list01-005 .pro-module p.buttonP a {
    white-space: nowrap;
}

#FrontProducts_list01-005 .pro-module p.buttonP .btna span {}

#FrontProducts_list01-005 .pro-module p.buttonP span.buy a,
#FrontProducts_list01-005 .pro-module p.buttonP span.price a {
    color: #fff;
}

#FrontProducts_list01-005 .pro-module p.buttonP span.favor a,
#FrontProducts_list01-005 .pro-module p.buttonP span.qq a {
    color: #727171;
}

#FrontProducts_list01-005 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

#FrontProducts_list01-005 .pro-module p.buttonP span.buy,
#FrontProducts_list01-005 .pro-module p.buttonP span.price {
    float: left;
    background: url(../images/btn-blue1-02.gif) left top no-repeat;
}

#FrontProducts_list01-005 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../images/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

#FrontProducts_list01-005 .pro-module p.buttonP span.qq {
    background: url(../images/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}


/** 商品描述 **/

#FrontProducts_list01-005 .pro-module .describe {
    margin: 5px 0 10px 0;
    color: #666464;
    line-height: 20px;
    clear: both;
}

#FrontProducts_list01-005 .pro-module .describe span {
    font-weight: bold;
}


/** 营销类型、关键词、下载 链接 **/

#FrontProducts_list01-005 .other {
    margin: 10px 0 0 0;
}

#FrontProducts_list01-005 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

#FrontProducts_list01-005 .other p a {
    color: #0068b7;
    text-decoration: none;
}


/** 翻页 **/

#FrontProducts_list01-005 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}


/** 商标弹出层 **/

#FrontProducts_list01-005 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

#FrontProducts_list01-005 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

#FrontProducts_list01-005 .pop-picbig img {
    width: 400px;
    height: 300px;
}

#FrontProducts_list01-005 .pop-brand p.top {
    background: url(../images/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

#FrontProducts_list01-005 .pop-brand p.top a.close {
    background: url(../images/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

#FrontProducts_list01-005 .pop-brand p.top a.close:hover {
    background: url(../images/close-hover.gif) right top no-repeat;
}

#FrontProducts_list01-005 .pop-brand .intro {
    padding: 5px 0;
    background: url(../images/pop-bg.gif) left top repeat-y;
}

#FrontProducts_list01-005 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

#FrontProducts_list01-005 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

#FrontProducts_list01-005 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

#FrontProducts_list01-005 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

#FrontProducts_list01-005 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}


/** 链接 **/

#FrontProducts_list01-005 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

#FrontProducts_list01-005 .pop-brand p.bottom {
    background: url(../images/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}


/**关闭按钮**/

#FrontProducts_list01-005 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../images/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

#FrontProducts_list01-005 .pop-picbig a.close:hover {
    background: url(../images/ad-close-02.gif) left top no-repeat;
}

#FrontProducts_list01-005 .mainul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#FrontProducts_list01-005 .column-num4 {
    width: 24.5%;
}


/*FrontProducts_list01-205*/

#FrontProducts_list01-205 {
    width: 98%;
    margin: 0 auto;
    clear: both;
    height: 100%;
    overflow: hidden;
    text-align: left;
    padding: 5px;
}

#FrontProducts_list01-205 .column-num3 {
    width: 33%;
}

#FrontProducts_list01-205 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px;
}

#FrontProducts_list01-205 ul li {
    margin: 0;
    padding: 0;
}

#FrontProducts_list01-205 ul {
    width: 100%;
}


/** 链接 **/

#FrontProducts_list01-205 a {
    color: #007dcc;
    text-decoration: none;
}

#FrontProducts_list01-205 a:hover {
    color: #ff6674;
    text-decoration: underline;
}

#FrontProducts_list01-205 .button {
    width: 52px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    border: 0;
    padding: 0 0 0 6px;
    /* firefox */
    padding: 2px 0 0 9px \9;
    /* ie8 */
    *padding: 1px 0 0 9px;
    /* ie6、ie7 */
    margin: 0;
}

#FrontProducts_list01-205 .button-on {
    background: url(../images/btn-gray1-05.gif) left top no-repeat;
    color: #c0c0c0;
}

#FrontProducts_list01-205 .button-up {
    background: url(../images/btn-gray1-06.gif) left top no-repeat;
    color: #666464;
}


/** 重点文字 **/

#FrontProducts_list01-205 .focustext {
    color: #f39800;
    font-style: normal;
}


/** 选择浏览方式、排序方式样式 **/

#FrontProducts_list01-205 .type {
    float: left;
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
}

#FrontProducts_list01-205 .type span.skim {
    float: left;
}

#FrontProducts_list01-205 .type span.sort {
    float: right;
}

#FrontProducts_list01-205 .type span.sort select {
    float: left;
}

#FrontProducts_list01-205 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/icon-07.gif) 0 0 no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph1:hover {
    background: url(../images/icon-07.gif) 0 -12px no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph2 {
    background: url(../images/icon-08.gif) 0 0 no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph2:hover {
    background: url(../images/icon-08.gif) 0 -12px no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-09.gif) 0 0 no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph3:hover {
    background: url(../images/icon-09.gif) 0 -14px no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../images/icon-10.gif) 0 0 no-repeat;
}

#FrontProducts_list01-205 .type span.sort .ph4:hover {
    background: url(../images/icon-10.gif) 0 -14px no-repeat;
}

#FrontProducts_list01-205 .type span.skim a {
    padding-right: 5px;
}

#FrontProducts_list01-205 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

#FrontProducts_list01-205 .content {
    float: left;
    overflow: hidden;
    /*margin-bottom:10px;*/
    margin: 0px;
    padding: 0px;
}


/** 图片部分 **/

#FrontProducts_list01-205 .content .pic-module {
    float: left;
    position: relative;
}


/** 属性部分 **/

#FrontProducts_list01-205 .content .pro-module {
    float: left;
    width: 50%;
    margin-left: 6px;
    text-align: left;
    margin-top: -15px;
}


/** 商品详细部分 **/

#FrontProducts_list01-205 .detail {
    clear: both;
}


/** 大图片样式 **/

#FrontProducts_list01-205 .pic-module {
    float: left;
}

#FrontProducts_list01-205 .pic-module .pic {}

#FrontProducts_list01-205 .pic-module .pic a {
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 3px;
    width: auto;
    height: auto;
}

#FrontProducts_list01-205 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-205 .pic-module .pic a img {
    width: 90px;
    height: 60px;
    border: 0;
}


/** 特殊标记 **/

#FrontProducts_list01-205 .pic-module span.lab {
    position: absolute;
    top: 35px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

#FrontProducts_list01-205 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

#FrontProducts_list01-205 .pic-module .compare {
    padding-top: 10px;
}


/** 标题样式 **/

#FrontProducts_list01-205 .pro-module {
    float: left;
}

#FrontProducts_list01-205 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #0068cc;
}

#FrontProducts_list01-205 .pro-module h1 span {
    color: #231815;
}


/** 属性样式 **/

#FrontProducts_list01-205 .pro-module ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-205 .pro-module ul li {
    line-height: 23px;
    color: #231815;
}

#FrontProducts_list01-205 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}


/** 商品编码 重点文字 **/

#FrontProducts_list01-205 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

#FrontProducts_list01-205 .pro-module ul li.code span {
    display: none;
}


/** 品牌名称、商标 链接 **/

#FrontProducts_list01-205 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

#FrontProducts_list01-205 .pro-module ul li.name strong {
    font-weight: normal;
}


/** 重量、浏览次数 重点文字 **/

#FrontProducts_list01-205 .pro-module ul li.weight,
#FrontProducts_list01-205 .pro-module ul li.skim {
    color: #f39800;
}


/** 市场价 **/

#FrontProducts_list01-205 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}


/** 会员价 **/

#FrontProducts_list01-205 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}


/** 积分、折扣、节省 重点文字 **/

#FrontProducts_list01-205 .pro-module ul li.integral,
#FrontProducts_list01-205 .pro-module ul li.discount,
#FrontProducts_list01-205 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}


/** 尺寸 链接 **/

#FrontProducts_list01-205 .pro-module ul li.size {
    clear: both;
}

#FrontProducts_list01-205 .pro-module ul li.size a {
    background: url(../images/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}


/** 选择颜色 **/

#FrontProducts_list01-205 .pro-module ul li.color label {
    padding-right: 10px;
}

#FrontProducts_list01-205 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}


/** 评论 链接 **/

#FrontProducts_list01-205 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

#FrontProducts_list01-205 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

#FrontProducts_list01-205 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}


/** 购买需填项、购买数量 **/

#FrontProducts_list01-205 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

#FrontProducts_list01-205 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

#FrontProducts_list01-205 .pro-module ul li.number span {
    padding-left: 12px;
}


/** 缺货 **/

#FrontProducts_list01-205 .pro-module ul li.outstock img {
    vertical-align: middle;
}


/** 按钮 **/

#FrontProducts_list01-205 .pro-module p.buttonP {
    margin: 10px 0 0 0;
    clear: both;
}

#FrontProducts_list01-205 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

#FrontProducts_list01-205 .pro-module p.buttonP a {
    white-space: nowrap;
}

#FrontProducts_list01-205 .pro-module p.buttonP .btna span {}

#FrontProducts_list01-205 .pro-module p.buttonP span.buy a,
#FrontProducts_list01-205 .pro-module p.buttonP span.price a {
    color: #fff;
}

#FrontProducts_list01-205 .pro-module p.buttonP span.favor a,
#FrontProducts_list01-205 .pro-module p.buttonP span.qq a {
    color: #727171;
}

#FrontProducts_list01-205 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

#FrontProducts_list01-205 .pro-module p.buttonP span.buy,
#FrontProducts_list01-205 .pro-module p.buttonP span.price {
    float: left;
    background: url(../images/btn-blue1-02.gif) left top no-repeat;
}

#FrontProducts_list01-205 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../images/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

#FrontProducts_list01-205 .pro-module p.buttonP span.qq {
    background: url(../images/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}


/** 商品描述 **/

#FrontProducts_list01-205 .pro-module .describe {
    margin: 5px 0 10px 0;
    color: #666464;
    line-height: 20px;
    clear: both;
}

#FrontProducts_list01-205 .pro-module .describe span {
    font-weight: bold;
}


/** 营销类型、关键词、下载 链接 **/

#FrontProducts_list01-205 .other {
    margin: 10px 0 0 0;
}

#FrontProducts_list01-205 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

#FrontProducts_list01-205 .other p a {
    color: #0068b7;
    text-decoration: none;
}


/** 翻页 **/

#FrontProducts_list01-205 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}


/** 商标弹出层 **/

#FrontProducts_list01-205 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

#FrontProducts_list01-205 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

#FrontProducts_list01-205 .pop-picbig img {
    width: 400px;
    height: 300px;
}

#FrontProducts_list01-205 .pop-brand p.top {
    background: url(../images/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

#FrontProducts_list01-205 .pop-brand p.top a.close {
    background: url(../images/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

#FrontProducts_list01-205 .pop-brand p.top a.close:hover {
    background: url(../images/close-hover.gif) right top no-repeat;
}

#FrontProducts_list01-205 .pop-brand .intro {
    padding: 5px 0;
    background: url(../images/pop-bg.gif) left top repeat-y;
}

#FrontProducts_list01-205 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

#FrontProducts_list01-205 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

#FrontProducts_list01-205 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

#FrontProducts_list01-205 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

#FrontProducts_list01-205 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}


/** 链接 **/

#FrontProducts_list01-205 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

#FrontProducts_list01-205 .pop-brand p.bottom {
    background: url(../images/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}


/**关闭按钮**/

#FrontProducts_list01-205 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../images/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

#FrontProducts_list01-205 .pop-picbig a.close:hover {
    background: url(../images/ad-close-02.gif) left top no-repeat;
}

#FrontProducts_list01-205 .mainul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#FrontProducts_list01-205 .column-num4 {
    width: 24.5%;
}

#FrontProducts_list01-007 .mainul {
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#FrontProducts_list01-007 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-201 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#FrontProducts_list01-201 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-007 .content {
    float: left;
    overflow: hidden;
    width: 24.3%;
    padding: 2px 2px;
}


/** 图片部分 **/

#FrontProducts_list01-007 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}


/** 属性部分 **/

#FrontProducts_list01-007 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

#FrontProducts_list01-201 .content {
    float: left;
    overflow: hidden;
    width: 32%;
    padding: 2px 2px;
    margin: 0;
}


/** 图片部分 **/

#FrontProducts_list01-201 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}


/** 属性部分 **/

#FrontProducts_list01-201 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}


/** 大图片样式 **/

#FrontProducts_list01-201 .pic-module .pic {}

#FrontProducts_list01-201 .pic-module .pic a {
    width: 130px;
    height: 105px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 5px;
}

#FrontProducts_list01-201 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-201 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#FrontProducts_list01-202 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#FrontProducts_list01-202 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-202 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}


/** 图片部分 **/

#FrontProducts_list01-202 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}


/** 属性部分 **/

#FrontProducts_list01-202 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}


/** 大图片样式 **/

#FrontProducts_list01-202 .pic-module .pic {}

#FrontProducts_list01-202 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#FrontProducts_list01-202 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-202 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#FrontProducts_list01-203 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#FrontProducts_list01-203 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-203 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}


/** 图片部分 **/

#FrontProducts_list01-203 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}


/** 属性部分 **/

#FrontProducts_list01-203 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}


/** 大图片样式 **/

#FrontProducts_list01-203 .pic-module .pic {}

#FrontProducts_list01-203 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#FrontProducts_list01-203 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-203 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#FrontProducts_list01-204 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#FrontProducts_list01-204 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FrontProducts_list01-204 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}


/** 图片部分 **/

#FrontProducts_list01-204 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}


/** 属性部分 **/

#FrontProducts_list01-204 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}


/** 大图片样式 **/

#FrontProducts_list01-204 .pic-module .pic {}

#FrontProducts_list01-204 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#FrontProducts_list01-204 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-204 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#FrontProducts_list01-004 .type {
    float: left;
    width: 94%;
    margin: 5px auto;
    height: auto;
}

#FrontProducts_list01-007 .pic-module .pic {}

#FrontProducts_list01-007 .pic-module .pic a {
    width: 130px;
    height: 105px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 5px;
}

#FrontProducts_list01-007 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #fff4ce;
}

#FrontProducts_list01-007 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}


/* -----滚动样式----------------------------------------------------------------------- */


/* navigation */

.index_left_3 .FrontProducts_list01-d1_c1 .scrollnavi {
    width: 200px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollnavi a {
    width: 8px;
    height: 8px;
    float: left;
    margin: 3px;
    background: url(../images/navigator.png) 0 0 no-repeat;
    display: block;
    font-size: 1px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollnavi a:hover {
    background-position: 0 -8px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollnavi a.active {
    background-position: 0 -16px;
}


/* buttons */

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollbrowse {
    background: url(../images/fliptup.jpg) no-repeat;
    display: block;
    clear: both;
    width: 17px;
    height: 19px;
    float: left;
    margin: 50px 5px;
    cursor: pointer;
    font-size: 1px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollright {
    background-position: -22px 0px;
    clear: right;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollright:hover {
    background-position: -22px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollright:active {
    background-position: -22px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollleft {
    background-position: 0px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollleft:hover {
    background-position: 0px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollleft:active {
    background-position: 0px 0px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollup,
.index_left_3 .FrontProducts_list01-d1_c1 a.scrolldown {
    background: url(../images/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollup:hover {
    background-position: -30px 0;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrollup:active {
    background-position: -60px 0;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrolldown {
    background-position: 0 -30px;
    clear: both;
    float: left;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrolldown:hover {
    background-position: -30px -30px;
}

.index_left_3 .FrontProducts_list01-d1_c1 a.scrolldown:active {
    background-position: -60px -30px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollable {
    position: relative;
    overflow: hidden;
    /**width: 410px;**/
    height: 143px;
    width: 401px;
    float: left;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollitems {
    width: 20000px;
    position: absolute;
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollable_vertical {
    position: relative;
    overflow: hidden;
    width: 575px;
    height: 240px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollable_vertical .scrollitems {
    height: 20000px;
    position: absolute;
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollitems_vertical {
    height: 20000px;
    position: absolute;
    clear: both;
}

.index_left_3 .FrontProducts_list01-d1_c1 .content1 {
    width: 200px;
}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollliner {}

.index_left_3 .FrontProducts_list01-d1_c1 .scrollliner .scrollitems {}
